# fastapi
# uvicorn[standard]
# python-multipart
# pdfplumber
# langchain
# langchain-ollama
# langchain-chroma
# chromadb
# python-dotenv
# aiofiles
# pandas
# jwt 
# requirements.txt
fastapi
uvicorn[standard]
pdfplumber
sqlalchemy
langchain
langchain-community
langchain-chroma
langchain-ollama
chromadb
python-jose[cryptography]
passlib
python-dotenv
langchain-core
bcrypt
python-multipart
aiofiles
pyjwt
email-validator
pydantic[email]
